<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to the Nested Forms Lab!</h1>
    <h3><a href="/new">let's navigate to the '/new'</a></h3>
  </body>
</html>
